<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">


    <title>diffie</title>
         <script src="/jquery.min.js" type="text/javascript"></script>
            <link href="/Content/bootstrap.min.css" rel="stylesheet" media="screen" />
 
<script type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>



            <script src="/Content/bootstrap.min.js" type="text/javascript"></script>
    
     <script src="/Scripts/MicrosoftAjax.debug.js" 
    type="text/javascript"></script>  

      

     <link href="/Content/Site.css" rel="stylesheet" type="text/css" /> 
    <link href="/Content/1.css" rel="stylesheet" type="text/css" />


</head>


<body >
<div id="page-wrap">
    
    <script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$','$'], ["\\(","\\)"] ],
      processEscapes: true
    }
  });
</script>



    <div class="w3-container">

        <div id="header" class="row" >
            <div id="title"></div>
            <div id="logindisplay">
                



    [ <a href="https://asecuritysite.com/account/logon">Log On</a> ]







          



            </div>

            <div id="tabs_container">


            <div class="invertedshiftdown">
                <ul>
                    <li ><a href="https://asecuritysite.com">Home</a></li>
                    <li ><a href="/tests">Tst</a></li>
                    <li ><a href="/challenges">Cha</a></li>
                    <li class=current><a href="/encryption">Enc</a></li>
                    <li ><a href="/coding">Code</a></li>
                    <li ><a href="/ip">IP</a></li>

                    <li ><a href="/fun">Fun</a></li>
                    <li ><a href="/information">Sub</a></li>

                    <li ><a href="/forensics">DigF</a></li>
                    <li ><a href="/Cisco">Cis</a></li>
                    
                    <li ><a href="/comms">Com</a></li>

                    <li ><a href="/database1">Db</a></li>

                    <li ><a href="/Home/About">About</a></li>
                    <li ><a href="/networksims">Netsim</a></li>
                    <li ><a href="/bigdata">Big Data</a></li>


                </ul>
            </div>
        </div>
            <p></p>
        <div id="main" class="row">

            
<script src="/Scripts/jquery.unobtrusive-ajax.js" type="text/javascript"></script>
<script src="/Scripts/jquery.validate.js" type="text/javascript"></script>
<!--  -->

   <table width="100%" border="1" cellpadding="0" cellspacing="0" bgcolor="whitesmoke">

<tr> 
        <td valign="top" colspan="2">
        <h1 id="logo">Diffie-Hellman Example</h1>
          <p>[<a href="javascript:history.go(-1)">Back</a>] Diffie-Hellman is a standard method of Alice and Bob being able to communicate, 
              and end up with the same secret encryption key. It is used in many applications, and uses two numbers (G and N) for the first part of the calculation (of which N must be a prime number):</p>
            [<a href="https://www.youtube.com/watch?v=jISbQarmt6s" target="_blank">Related Lecture</a>] 
             [<a href="/public/diffie_examples.pdf" target="_blank" >Tutorial</a>]
             [<a href="http://buchananweb.co.uk/2011_tut_encryption.pdf" target="_blank" >Software Tutorial</a>][<a href="https://youtu.be/iw2bJs3pi-w" target="_blank">Software Lecture</a>]
              [<a href="https://en.wikipedia.org/wiki/Diffie%E2%80%93Hellman_key_exchange" target="_blank" >Theory</a>][<a href="https://www.linkedin.com/pulse/ghost-john-napier-hail-mr-diffie-hellman-william-buchanan" target="_blank">Blog</a>]
            [<a href="/encryption/pickg" target="_blank">Picking G value</a>]             

 <div id="PartialViewGN">
 


              <table style="width:100%">

                  <tr><td>G:</td> <td> <input id="Gvalue" name="Gvalue" style="width:80%" type="text" value="" /></td></tr>
                  <tr><td>N:</td> <td> <input id="Nvalue" name="Nvalue" style="width:80%" type="text" value="" /></td></tr>     
                               
 </table>

</div>

                  
<form action="/encryption/diffie" data-ajax="true" data-ajax-method="POST" data-ajax-mode="replace" data-ajax-update="#PartialViewGN" id="form0" method="post"> <input type="submit" value="Generate G and N" name="button1" class="defaultbutton red" />
</form>


 <div id="PartialViewXY">
 

<p> Next Bob and Alice will generate two random numbers (X and Y), calculate an X value and a Y value, respectively:</p>

 <table style="width: 100%">
            <tr> 
              <td style="width: 30%"> <strong>Bob's X Value</strong></td>
              <td> <input id="Xvalue" name="Xvalue" rows="1" style="width:20%" type="text" value="" /></td>
              <td style="width: 30%"> <strong>Alice's Y value</strong></td>
              <td> <input id="Yvalue" name="Yvalue" rows="1" style="width:20%" type="text" value="" /></td>
            </tr>
                        <tr> 
              <td style="width: 30%; height: 47px;"> </td>
              <td style="width: 20%; height: 47px;"> Bob's random value</td>
              <td style="width: 30%; height: 47px;"> </td>
              <td style="width: 20%; height: 47px;"> Alice's random value</td>
            </tr>

            <tr> 
              <td style="width: 30%"> <strong>Bob's A value</strong></td>
              <td> <input id="Avalue" name="Avalue" rows="1" style="width:20%" type="text" value="" /></td>
              <td style="width: 30%"> <strong>Alice's B value</strong></td>
              <td> <input id="Bvalue" name="Bvalue" rows="1" style="width:20%" type="text" value="" /></td>
            </tr>
            <tr> 
              <td style="width: 30%; height: 47px;"> </td>
              <td style="width: 20%; height: 47px;"> A=G^x mod N</td>
             

              <td style="width: 30%; height: 47px;"> </td>
              <td style="width: 20%; height: 47px;"> B=G^y mod N</td>
              
            </tr>
            <tr> 
              <td style="width: 30%; height: 47px;"> </td>
              <td style="width: 20%; height: 47px;"></td>
             

              <td style="width: 30%; height: 47px;"> </td>
              <td style="width: 20%; height: 47px;"></td>
              
            </tr>


          </table>


</div>

<form action="/encryption/diffie" data-ajax="true" data-ajax-method="POST" data-ajax-mode="replace" data-ajax-update="#PartialViewXY" id="form1" method="post"> <input type="submit" value="Generate X and Y" name="button2"  class="defaultbutton red" />
</form>
    
          <div id="PartialViewGenK">
 
 <p> and Bob will send his A value to Alice, and Alice will send her 
            B value to Bob, and they now re-calculate the values to generate the <b>same shared key</b>:</p>
          <p> </p>
          <table style="width: 100%">
            <tr> 
              <td style="width: 30%"> </td>
              <td style="width: 20%"> </td>
              <td style="width: 30%"> </td>
              <td style="width: 20%"> </td>
            </tr>

            <tr> 
              <td style="width: 30%"> <strong>Bob's Key</strong></td>
              <td> <input id="BobKey" name="BobKey" style="width:80%" type="text" value="" /></td>
              <td style="width: 20%"> Alice's Key</td>
              <td> <input id="AliceKey" name="AliceKey" style="width:80%" type="text" value="" /></td>
            </tr>
            <tr> 
              <td style="width: 30%; height: 47px;"> </td>
              <td style="width: 20%; height: 47px;">Key=B^x mod N</td>
              <td style="width: 30%; height: 47px;"> </td>
              <td style="width: 20%; height: 47px;">Key=A^y mod N</td>
            </tr>
            <tr> 
              <td style="width: 30%; height: 47px;"> </td>
              <td style="width: 20%; height: 47px;"></td>
             

              <td style="width: 30%; height: 47px;"> </td>
              <td style="width: 20%; height: 47px;"></td>
              
            </tr>
            </table>

            <p></p>
</div>   
              
<form action="/encryption/diffie" data-ajax="true" data-ajax-method="POST" data-ajax-mode="replace" data-ajax-update="#PartialViewGenK" id="form2" method="post"> <input type="submit" value="Generate Keys" name="button3" class="defaultbutton red" />
</form>

         
         </td></tr> </table>
            <h2>Try an example</h2>                 <ul>
  
          <li><strong>x=3, y=4, G=4 and N=7</strong>. <a href="/encryption/diffie?val=3%2C4%2C7%2C4">Try</a></li>
      <li><strong>x=6, y=15, G=5 and N=23</strong>. <a href="/encryption/diffie?val=6%2C15%2C23%2C5">Try</a> <a href="https://en.wikipedia.org/wiki/Diffie%E2%80%93Hellman_key_exchange" target="_blank">Refer</a></li>
  
                   <li><strong>x=5, y=7, G=10 and N=541</strong>. <a href="/encryption/diffie?val=5%2C7%2C541%2C10">Try</a> <a href="http://www.irongeek.com/diffie-hellman.php" target="_blank">Refer</a></li>
     <li><strong>x=6, y=15, G=5 and N=23. Share=2</strong>. <a href="/encryption/diffie?val=6%2C15%2C23%2C5">Try</a> <a href="https://www.cs.utexas.edu/~byoung/cs361/lecture52.pdf" target="_blank">Refer</a></li>
 
                  <li><strong>x=7, y=7, G=5 and N=11</strong>. <a href="/encryption/diffie?val=7%2C7%2C11%2C5">Try</a> </li>
     <li><strong>x=7, y=9, G=8 and N=13</strong>. <a href="/encryption/diffie?val=7%2C9%2C13%2C8">Try</a> </li>
                 <li><strong>x=5, y=4, G=2969 and N=9929. Share=8106</strong>. <a href="/encryption/diffie?val=5%2C4%2C9929%2C2969">Try</a> </li>

                 <li><strong>x=6, y=5, G=3881 and N=125. Share=792</strong>. <a href="/encryption/diffie?val=6%2C5%2C1861%2C3881">Try</a> </li>
 
          <li><strong>x=3, y=4, G=3623 and N=1153. Share=939</strong>. <a href="/encryption/diffie?val=3%2C4%2C1153%2C3623">Try</a> </li>
  
          
  
      </ul>
<h2>Outline</h2>
<p>In Diffie-Hellman, Bob and Alice agree on G (a generator) and N (a prime number), and then Bob picks a random value of x, and Alice picks a random value of y:</p>
<table>
<tr><td>Bob (x)</td><td>Alice (y)</td></tr>
<tr><td>\(b=G^x \mod N\)</td><td>\(a=G^y \mod N\)</td></tr>
<tr><td>Bob sends Alice the value of <i>b</i></td><td>Alice sends Bob the value of <i>a</i></td></tr>
<tr><td>\(Key=a^x \mod N\)</td><td>\(Key=b^y \mod N\)</td></tr>
</table>
<h2>Presention</h2>
<iframe width="560" height="315" src="https://www.youtube.com/embed/wyNPhNAsmJ0?rel=0" frameborder="0" allowfullscreen></iframe>
<iframe width="560" height="315" src="https://www.youtube.com/embed/-TjSuch3VGU?rel=0" frameborder="0" allowfullscreen></iframe>
         <h2>Code Used</h2>
<!-- code formatted by http://manoli.net/csharpformat/ -->
<style type="text/css">
.csharpcode, .csharpcode pre
{
	font-size: small;
	color: black;
	font-family: Consolas, "Courier New", Courier, Monospace;
	background-color: #ffffff;
	/*white-space: pre;*/
}

.csharpcode pre { margin: 0em; }

.csharpcode .rem { color: #008000; }

.csharpcode .kwrd { color: #0000ff; }

.csharpcode .str { color: #a31515; }

.csharpcode .op { color: #0000c0; }

.csharpcode .preproc { color: #cc6633; }

.csharpcode .asp { background-color: #ffff00; }

.csharpcode .html { color: #800000; }

.csharpcode .attr { color: #ff0000; }

.csharpcode .alt 
{
	background-color: #f4f4f4;
	width: 100%;
	margin: 0em;
}

.csharpcode .lnum { color: #606060; }
</style>
<pre class="csharpcode">
        <span class="kwrd">public</span> ActionResult diffie(hashing h, <span class="kwrd">string</span> button1, <span class="kwrd">string</span> button2, <span class="kwrd">string</span> button3)
        {
            <span class="kwrd">if</span> (button1 != <span class="kwrd">null</span>)
            {

                SecureRandom random = <span class="kwrd">new</span> SecureRandom();
                <span class="kwrd">int</span> x = Global.random(20) + 2;
                <span class="kwrd">int</span> y = Global.random(20) + 2;

                <span class="kwrd">int</span> G = getPrime();
                <span class="kwrd">int</span> N = getPrime();

                BigInteger g = <span class="kwrd">new</span> BigInteger(Convert.ToString(G));
                BigInteger n = <span class="kwrd">new</span> BigInteger(Convert.ToString(N));


                BigInteger A = g.Pow(x).Mod(n);
                BigInteger B = g.Pow(y).Mod(n);

                ViewData[<span class="str">"GValue"</span>] = g.ToString();
                ViewData[<span class="str">"Nvalue"</span>] = n.ToString();
                ViewData[<span class="str">"XValue"</span>] = Convert.ToString(x);
                ViewData[<span class="str">"Yvalue"</span>] = Convert.ToString(y);


                BigInteger k1 = B.Pow(x).Mod(n);
                BigInteger k2 = A.Pow(y).Mod(n);


                ViewData[<span class="str">"Avalue"</span>] = A.ToString();
                ViewData[<span class="str">"Bvalue"</span>] = B.ToString();

                ViewData[<span class="str">"BobKey"</span>] = k1.ToString();
                ViewData[<span class="str">"AliceKey"</span>] = k2.ToString();






                Session[<span class="str">"GValue"</span>] = ViewData[<span class="str">"GValue"</span>];
                Session[<span class="str">"Nvalue"</span>] = ViewData[<span class="str">"NValue"</span>];
                Session[<span class="str">"XValue"</span>] = ViewData[<span class="str">"XValue"</span>];
                Session[<span class="str">"Yvalue"</span>] = ViewData[<span class="str">"YValue"</span>];
                Session[<span class="str">"AValue"</span>] = ViewData[<span class="str">"AValue"</span>];
                Session[<span class="str">"Bvalue"</span>] = ViewData[<span class="str">"BValue"</span>];
                Session[<span class="str">"BobKey"</span>] = ViewData[<span class="str">"BobKey"</span>];
                Session[<span class="str">"AliceKey"</span>] = ViewData[<span class="str">"AliceKey"</span>];


                <span class="kwrd">if</span> (k1.ToString() == k2.ToString()) h.message = <span class="str">"Success ... the keys match!!!"</span>;
                <span class="kwrd">else</span> h.message = <span class="str">"Failed ... probably due to math overload"</span>;

                Session[<span class="str">"Message"</span>] = h.message;

                <span class="kwrd">return</span> PartialView(<span class="str">"PartialViewGN"</span>);
            }

            <span class="kwrd">if</span> (button2 != <span class="kwrd">null</span>)
            {

                ViewData[<span class="str">"GValue"</span>] = Session[<span class="str">"GValue"</span>];
                ViewData[<span class="str">"Nvalue"</span>] = Session[<span class="str">"NValue"</span>];
                ViewData[<span class="str">"XValue"</span>] = Session[<span class="str">"XValue"</span>];
                ViewData[<span class="str">"Yvalue"</span>] = Session[<span class="str">"YValue"</span>];
                ViewData[<span class="str">"AValue"</span>] = Session[<span class="str">"AValue"</span>];
                ViewData[<span class="str">"Bvalue"</span>] = Session[<span class="str">"BValue"</span>];
                <span class="kwrd">return</span> PartialView(<span class="str">"PartialViewXY"</span>);
            }
            <span class="kwrd">if</span> (button3 != <span class="kwrd">null</span>)
            {

                ViewData[<span class="str">"GValue"</span>] = Session[<span class="str">"GValue"</span>];
                ViewData[<span class="str">"Nvalue"</span>] = Session[<span class="str">"NValue"</span>];
                ViewData[<span class="str">"XValue"</span>] = Session[<span class="str">"XValue"</span>];
                ViewData[<span class="str">"Yvalue"</span>] = Session[<span class="str">"YValue"</span>];
                ViewData[<span class="str">"AValue"</span>] = Session[<span class="str">"AValue"</span>];
                ViewData[<span class="str">"Bvalue"</span>] = Session[<span class="str">"BValue"</span>];
                ViewData[<span class="str">"BobKey"</span>] = Session[<span class="str">"BobKey"</span>];
                ViewData[<span class="str">"AliceKey"</span>] = Session[<span class="str">"AliceKey"</span>];
                ViewBag.Message = Session[<span class="str">"Message"</span>];
                <span class="kwrd">return</span> PartialView(<span class="str">"PartialViewGenK"</span>);

            }

            <span class="kwrd">return</span> View();


        }</pre>
       <table><tr><td>
        <h2>Diagram</h2>
<p><img src="/content/dh.png" align="left" alt="Pigpen" class="has-border" /> </p>
</td></tr></table>
        </div>

  <!-- end post-entry -->
        </div>

 </div>
  </div> 
</body>
</html>
